.about-section {
  margin: auto;
  padding: 70px 20%;
}

.about-hero {
  text-align: center;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 8% 20px;
}

.about-hero h1 {
  font-size: 50px;
  background: linear-gradient(to right, #FF5733, #f5deb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.food-icon {
  -webkit-text-fill-color: initial;
  /* restores normal color */
  color: initial;
  /* fallback */
}

.about-hero p {
  font-size: 18px;
  font-style: italic;
}

.about-story h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.about-story p {
  line-height: 1.3;
  margin-bottom: 10px;
}

.about-story,
.about-mission,
.founder {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.highlight {
  font-style: italic;
  margin-top: 10px;
}

.about-story:hover,
.about-mission:hover,
.founder:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}

.founders {
  margin-top: 40px;
  text-align: center;
}

.founders-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.founder-card {
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.founder-card:hover {
  transform: translateY(-5px);
}

.founder-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.founder-card h3 {
  margin: 5px 0;
  font-size: 22px;
}

.role {
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

.desc {
  font-size: 13px;
  line-height: 1.6;
  text-align: start;
}

@media (max-width: 768px) {
  .about-section {
    padding: 70px 8%;
  }

  .about-hero {
    margin-bottom: 30px;
    gap: 35px;
    padding: 9% 20px;
  }

  .about-hero h1 {
    font-size: 40px;
  }

  .about-hero p {
    font-size: 15px;
    font-style: italic;
  }

  .about-story h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
  }

  .about-story p {
    line-height: 1.8;
    margin-bottom: 10px;
  }

  .about-story,
  .about-mission,
  .founder {
    border: 1px solid #FF5733;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
  }

  .highlight {
    font-style: italic;
    color: #FF5733;
    margin-top: 10px;
    font-weight: bold;
  }

  .about-story:hover,
  .about-mission:hover,
  .founder:hover {
    transform: none;
  }

  .founders-container {
    margin-top: 20px;
  }

  .founder-card {
    border-radius: 10px;
    width: 270px;
    border: 1px solid #FF5733;
  }

  .founder-card:hover {
    transform: none;
  }

}