.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(to right, #FF5733, #f5deb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

.title-container {
  background-color: white;
  margin: 0;
}

.all-recipe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
}

.food-container {
  width: 300px;
  height: 450px;
  text-align: center;
  box-shadow: 0 0.5px 3px #FF5733;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.all-recipe h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.food-container h3,
.food-container h5 {
  background: linear-gradient(to right, #FF5733, #f5deb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.food-container a {
  background-color: #FF5733;
  padding: 2px 10px;
  color: white;
  margin-top: auto;
  font-size: 2em;
  border-radius: 5px;
}

.food-container a:hover {
  background-color: #ff7d60;
}

.food-container a:active {
  background-color: #ff2f00;
}

.food-text {
  margin-top: 20px;
}

.food-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

#food1-image {
  background-image: url("https://i.pinimg.com/736x/eb/cb/c6/ebcbc6aaa9deca9d6efc1efc93b66945.jpg");
}

#food2-image {
  background-image: url("https://i.pinimg.com/736x/8d/77/d3/8d77d3374fa03bd197d75f5ad1142ca1.jpg");
}

#food3-image {
  background-image: url("https://i.pinimg.com/736x/0a/74/20/0a742025d874ca4925dfdb13506f8028.jpg");
}

#food4-image {
  background-image: url("https://i.pinimg.com/1200x/e9/c1/2d/e9c12d34840da4794a960c0d75156399.jpg");
}

#food5-image {
  background-image: url("https://i.pinimg.com/736x/f9/e6/43/f9e643f96e32cdfcc29be882b5cf3338.jpg");
}

#food6-image {
  background-image: url("https://i.pinimg.com/736x/54/31/2a/54312aefcb222d75fe69e1be747ad48c.jpg");
}

#food7-image {
  background-image: url("https://i.pinimg.com/736x/07/55/a8/0755a8ae2bdbcb166b0cfb747bcc7fd9.jpg");
}

#food8-image {
  background-image: url("https://i.pinimg.com/1200x/82/8c/68/828c689de93b7887413bdd5af478e5ec.jpg");
}

#food9-image {
  background-image: url("https://i.pinimg.com/736x/0e/fe/90/0efe90305ce221e4458f2c20664f2c62.jpg");
}

#food10-image {
  background-image: url("https://i.pinimg.com/1200x/14/37/7c/14377cb6458dcc5a7eca0484a4dfe1b8.jpg");
}

#food11-image {
  background-image: url("https://i.pinimg.com/1200x/5d/f0/ae/5df0ae4bfe8b9b54b3aa82c72ccea74c.jpg");
}

#food12-image {
  background-image: url("https://i.pinimg.com/1200x/47/fc/e9/47fce93ac1ffc0456ece3e7585d24177.jpg");
}

#food13-image {
  background-image: url("https://i.pinimg.com/736x/85/cf/ac/85cfac92737ed6017f2a4189773da0ee.jpg");
}

#food14-image {
  background-image: url("https://i.pinimg.com/736x/99/63/a9/9963a9c7f1ad8dafe064228394f0de54.jpg");
}

#food15-image {
  background-image: url("https://i.pinimg.com/1200x/e0/a5/f1/e0a5f1cbdf1b36a93e959d39fdc750b8.jpg");
}

#food16-image {
  background-image: url("https://i.pinimg.com/1200x/e9/04/ec/e904ec61f4d116ec3e22283abcc940c4.jpg");
}

@media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  .title-container {
    background-color: black;
  }

  .all-recipe {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
  }

  .food-container {
    width: 150px;
    height: 250px;
  }

  .all-recipe h3 {
    font-size: 1em;
    margin-top: 5px;
  }

  .all-recipe h5 {
    font-size: 0.7em;
  }

  .food-image {
    width: 150px;
    height: 150px;
  }

  .food-text {
    padding: 0 2px;
    margin-top: 5px;
  }

  .food-container a {
    margin-top: auto;
    font-size: 1.5em;
    border-radius: 5px;
  }
}