.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(to right, #FF5733, #f5deb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

.title-container {
  background-color: white;
  margin: 0;
}

.all-recipe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 20px;
  padding-top: 10px;
}

.food-container {
  width: 300px;
  height: 450px;
  text-align: center;
  box-shadow: 0 0.5px 3px #FF5733;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.all-recipe h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.food-container h3,
.food-container h5 {
  background: linear-gradient(to right, #FF5733, #f5deb3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.food-container a {
  background-color: #FF5733;
  padding: 2px 10px;
  color: white;
  margin-top: auto;
  font-size: 2em;
  border-radius: 5px;
}

.food-container a:hover {
  background-color: #ff7d60;
}

.food-container a:active {
  background-color: #ff2f00;
}

.food-text {
  margin-top: 20px;
}

.food-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

#food1-image {
  background-image: url("https://i.pinimg.com/1200x/a1/0d/0f/a10d0f1a02ab7db4c96e7893e3e3fd87.jpg");
}

#food2-image {
  background-image: url("https://i.pinimg.com/1200x/fd/88/3a/fd883a5609b95898efc4071a018697a9.jpg");
}

#food3-image {
  background-image: url("https://i.pinimg.com/1200x/97/dd/75/97dd75079c19d1d0a051a34312115edb.jpg");
}

#food4-image {
  background-image: url("https://i.pinimg.com/1200x/78/34/72/783472ee09a9ee3869c54619401d80ee.jpg");
}

#food5-image {
  background-image: url("https://i.pinimg.com/736x/5b/94/b2/5b94b23fb9b9326968658c4606618d27.jpg");
}

#food6-image {
  background-image: url("https://i.pinimg.com/474x/46/7e/93/467e936326946bcefd20e38019780243.jpg");
}

#food7-image {
  background-image: url("https://i.pinimg.com/736x/be/38/da/be38da5fea9b0bb1fb10935e2aa2db7b.jpg");
}

#food8-image {
  background-image: url("https://i.pinimg.com/736x/69/e1/d6/69e1d6db931696c9f3edfe861931f6aa.jpg");
}

#food9-image {
  background-image: url("https://i.pinimg.com/1200x/88/27/2c/88272c6c636117c256073d0671dcff31.jpg");
}

#food10-image {
  background-image: url("https://i.pinimg.com/1200x/ff/3d/c8/ff3dc8aca872fab314f1a96452175b64.jpg");
}

#food11-image {
  background-image: url("https://i.pinimg.com/1200x/0a/ea/71/0aea71f904a80c2acd242829bab7c855.jpg");
}

#food12-image {
  background-image: url("https://i.pinimg.com/1200x/7b/b0/8c/7bb08ccd3478d52ff70578f9b0236a83.jpg");
}

#food13-image {
  background-image: url("https://i.pinimg.com/736x/cb/b2/09/cbb2099f0f7107e9ebaeda4f75d6ed26.jpg");
}

#food14-image {
  background-image: url("https://i.pinimg.com/1200x/66/ad/c9/66adc914a3278612494f3c2519036614.jpg");
}

#food15-image {
  background-image: url("https://i.pinimg.com/736x/9e/54/97/9e549707095b9eee23cc0d2849f9fa57.jpg");
}

#food16-image {
  background-image: url("https://i.pinimg.com/736x/b3/c3/42/b3c342badb5b4c7bcefa6cdf95a8ee92.jpg");
}

#food17-image {
  background-image: url("https://i.pinimg.com/1200x/55/24/15/552415178bfba499d7218358eb70ee53.jpg");
}

#food18-image {
  background-image: url("https://i.pinimg.com/736x/e1/05/5a/e1055aab4e07990cf9b07c0aa57b032b.jpg");
}

#food19-image {
  background-image: url("https://i.pinimg.com/736x/d9/25/9f/d9259fc622836fd30c8ae1e16ad59acf.jpg");
}

#food20-image {
  background-image: url("https://i.pinimg.com/736x/93/4d/b9/934db93e4e28283fe2506c995a185e3c.jpg");
}

@media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }

  .title-container {
    background-color: black;
  }

  .all-recipe {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
  }

  .food-container {
    width: 150px;
    height: 250px;
  }

  .all-recipe h3 {
    font-size: 1em;
    margin-top: 5px;
  }

  .all-recipe h5 {
    font-size: 0.7em;
  }

  .food-image {
    width: 150px;
    height: 150px;
  }

  .food-text {
    padding: 0 2px;
    margin-top: 5px;
  }

  .food-container a {
    margin-top: auto;
    font-size: 1.5em;
    border-radius: 5px;
  }
}